<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row main header navbar-fixed-top">
        <div class="col-lg-2 col-md-1 col-sm-2 col-xs-2 navbar-brand logo text-center">
            <span>
                <a href="/">
                    <div class="discount-panel top-panel">
                        <div class="top-panel-title">PIZZA KMA</div>
<div class="img"><img src="assets/images/special.svg"></div>
                    </div></a></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3">
            <div class="row">
                <div class="col-md-12 header-top">
                    <span>(044) 123 56 78</span>
                    <span class="visible-lg-inline-block visible-md-inline-block">24 години/ 7 днів на тиждень</span>
                    <span class="visible-lg-inline-block">Безкоштовна доставка піци</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 header-bottom">
                    <span>Піца</span>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
            <button type="button" class="btn btn-default navbar-btn">Увійти</button>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet/less" type="text/css" href="assets/less/main.less"/>
<script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js"></script>

